@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-family: "Oswald", sans-serif;
  padding: 16px 54px;
  background: #08b38e;
  border: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn:hover {
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  background: #08c79e;
  -webkit-box-shadow: 1px 1px 1px #004F3E;
          box-shadow: 1px 1px 1px #004F3E;
}

.btn:active {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn2 {
  font-family: "Oswald", sans-serif;
  padding: 16px 54px;
  background: transparent;
  border: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: 2px solid #fff;
}

.btn2:hover {
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  -webkit-box-shadow: 1px 1px 1px #e6e6e6;
          box-shadow: 1px 1px 1px #e6e6e6;
}

.btn2:active {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px;
}

.header.fixed {
  position: fixed;
}
.header.fixed .header__wrap {
  background: rgb(0, 81, 85);
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, rgb(0, 81, 85)), color-stop(60%, rgb(8, 179, 142)));
  background: linear-gradient(90deg, rgb(0, 81, 85) 17%, rgb(8, 179, 142) 60%);
  padding: 10px 0;
}

.header__wrap {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 16px 0;
  border-radius: 20px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 50px;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 40px;
  color: #fff;
  margin-right: 50px;
  border-radius: 10px;
}

.header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__navbar li {
  margin-right: 32px;
}
.header__navbar li:last-child {
  margin-right: 0;
}
.header__navbar a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  position: relative;
}
.header__navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #00ffc8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
}
.header__navbar a:hover::after {
  width: 100%;
}

.header__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  padding: 3px 6px 4px 6px;
  background: #fff;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #00503F;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__phone:hover {
  color: #08A584;
}

.header__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}
.header__soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 24px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__soc a path {
  fill: #fff;
}
.header__soc a:last-child {
  margin-right: 0;
}
.header__soc a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner {
  min-height: 100vh;
  position: relative;
  background: url(../img/11.png) no-repeat center/cover;
  background-attachment: fixed;
}
.banner .container {
  position: relative;
  z-index: 9;
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 81, 85);
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, rgb(0, 81, 85)), color-stop(60%, rgb(8, 179, 142)));
  background: linear-gradient(90deg, rgb(0, 81, 85) 17%, rgb(8, 179, 142) 60%);
  opacity: 0.9;
}

@-webkit-keyframes bot {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes bot {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
.banner__bot {
  position: absolute;
  bottom: 52%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 15%;
  z-index: 10;
}
.banner__bot .bot {
  width: 500px;
  -webkit-animation-name: bot;
          animation-name: bot;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.banner__bot::after {
  content: "";
  width: 100px;
  height: 50px;
  background: rgb(244, 244, 244);
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, rgb(244, 244, 244)), color-stop(60%, rgb(224, 224, 224)));
  background: linear-gradient(90deg, rgb(244, 244, 244) 17%, rgb(224, 224, 224) 60%);
  position: absolute;
  bottom: -60px;
  left: 53%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  opacity: 0.2;
}

.banner__content {
  padding-top: 300px;
  padding-bottom: 100px;
  font-weight: 300;
  font-size: 24px;
  color: #E7E8FF;
  position: relative;
  z-index: 11;
}
.banner__content p {
  max-width: 400px;
  width: 100%;
  margin-bottom: 40px;
}

h1 {
  text-transform: uppercase;
  max-width: 800px;
  width: 100%;
  font-size: 75px;
  line-height: 90px;
  margin-bottom: 32px;
  color: #fff;
}

.company {
  background: #f6fbff;
}
.company .container {
  max-width: 100%;
  padding: 5%;
}

.company__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.company__image {
  max-width: calc(50% - 40px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 30px;
}
.company__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.company__image::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0, 81, 85);
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, rgb(0, 81, 85)), color-stop(60%, rgb(8, 179, 142)));
  background: linear-gradient(90deg, rgb(0, 81, 85) 17%, rgb(8, 179, 142) 60%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.4;
}

.company__content {
  max-width: calc(50% - 40px);
  width: 100%;
  font-size: 20px;
  line-height: 23px;
  color: #333;
  margin-left: auto;
}
.company__content ul {
  margin-bottom: 40px;
}
.company__content ul li {
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 20px;
  position: relative;
}
.company__content ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #00043a;
  border-radius: 50%;
}
.company__content h2 {
  max-width: 700px;
}
.company__content p {
  margin-bottom: 32px;
}

h2 {
  font-size: 44px;
  line-height: 55px;
  color: #004133;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.advantages .container {
  padding-top: 150px;
  padding-bottom: 150px;
}

.advantages__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 26px;
  color: #626374;
}
.advantages__block .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 90px;
  width: 90px;
  height: 90px;
  border: 2px solid #004133;
  border-radius: 50%;
  margin-right: 24px;
}
.advantages__block h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
  color: #004133;
}

.products {
  background: #f6fbff;
}
.products h2 {
  text-transform: uppercase;
}
.products .container {
  padding-top: 150px;
  padding-bottom: 150px;
}

.products__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.products__block {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 160px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 160px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
}
.products__block .title {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #00043a;
  text-transform: uppercase;
  padding: 10px;
}
.products__block .image {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.products__block .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.products__block .content {
  min-height: 380px;
  padding: 20px;
  padding-bottom: 100px;
}
.products__block h6 {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 24px;
}
.products__block .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 32px;
}
.products__block ul {
  width: calc(100% + 40px);
  margin-left: -20px;
}
.products__block ul li {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  color: #153979;
  border-bottom: 1px solid #f0f0f0;
}
.products__block ul li:last-child {
  border-bottom: 0;
}

.products__block:nth-child(2) {
  -webkit-transform: translateY(7px) scale(1.05);
          transform: translateY(7px) scale(1.05);
  z-index: 2;
}
.products__block:nth-child(2) .title {
  background: rgb(0, 81, 85);
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, rgb(0, 81, 85)), color-stop(60%, rgb(8, 179, 142)));
  background: linear-gradient(90deg, rgb(0, 81, 85) 17%, rgb(8, 179, 142) 60%);
  color: #fff;
}

.bottomBtn {
  background: url(../img/11.png) no-repeat center/cover;
  background-attachment: fixed;
  position: relative;
}
.bottomBtn .container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
}
.bottomBtn h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 42px;
}

.bottomBtn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomBtn::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(0, 81, 85);
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, rgb(0, 81, 85)), color-stop(60%, rgb(8, 179, 142)));
  background: linear-gradient(90deg, rgb(0, 81, 85) 17%, rgb(8, 179, 142) 60%);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background: #f6fbff;
}
.footer .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  color: #004133;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer__copy {
  font-size: 13px;
  line-height: 15px;
  color: #39393d;
}

.footer__navbar {
  margin-bottom: 60px;
}
.footer__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__navbar li {
  margin-right: 40px;
}
.footer__navbar li:last-child {
  margin-right: 0;
}
.footer__navbar a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #004133;
  position: relative;
}
.footer__navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #00ffc8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
}
.footer__navbar a:hover::after {
  width: 100%;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__phone {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #004133;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  section {
    display: none;
  }
  .banner {
    display: block;
  }
  .banner__bot {
    bottom: 100px;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__navbar {
    display: none;
  }
  .banner__content {
    padding-top: 260px;
    padding-bottom: 650px;
  }
  .company {
    display: block;
  }
  .company__image {
    min-height: 500px;
    max-width: 100%;
    position: relative;
    top: auto;
    margin-bottom: 60px;
  }
  .company__content {
    max-width: 100%;
  }
  .company .container {
    max-width: 768px;
    padding: 100px 15px 100px;
  }
  .advantages {
    display: block;
  }
  .advantages .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .advantages__box {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .bottomBtn {
    display: block;
  }
  .products {
    display: block;
  }
  .products__box {
    grid-gap: 0px;
  }
  .products__block .image {
    height: 200px;
  }
  .products__block .btn_wrap {
    padding: 0 15px;
    bottom: 20px;
  }
  .products__block .btn {
    font-size: 20px;
    width: 100%;
    padding: 12px 24px;
  }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    padding-top: 70px;
  }
  .footer__logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  .footer__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__right {
    margin-bottom: 40px;
  }
  .footer__navbar {
    margin-bottom: 16px;
  }
  .footer__navbar ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__navbar li {
    margin-bottom: 16px;
  }
  .footer__bottom {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 766px) {
  .header {
    padding: 6px;
  }
  .header__phone {
    display: none;
  }
  .banner__content {
    padding-top: 150px;
    padding-bottom: 460px;
    font-size: 16px;
    line-height: 18px;
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .btn {
    padding: 10px 40px;
    font-size: 15px;
    line-height: 16px;
  }
  .banner__bot .bot {
    width: 300px;
  }
  .banner__bot::after {
    width: 70px;
    height: 40px;
  }
  .company .container {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .company__image {
    min-height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .company__content {
    font-size: 16px;
    line-height: 18px;
  }
  .company__content p {
    margin-bottom: 24px;
  }
  .company__content ul li {
    font-size: 16px;
  }
  .advantages .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .advantages__box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }
  .advantages__block .icon {
    min-width: 60px;
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }
  .advantages__block {
    font-size: 15px;
    line-height: 17px;
  }
  .advantages__block h5 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  .products .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bottomBtn h2 {
    margin-bottom: 24px;
  }
  .btn2 {
    font-size: 20px;
    line-height: 22px;
  }
  .footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .products__box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .products__block {
    border-radius: 0;
    margin-bottom: 24px;
  }
  .products__block:last-child {
    margin-bottom: 0;
  }
  .products__block:nth-child(2) {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
  .products__block .content {
    min-height: auto;
  }
  .products__block .image {
    height: 260px;
  }
  .products__block .image img {
    height: 120%;
  }
  .products__block .title {
    min-height: 50px;
    font-size: 16px;
    line-height: 20px;
  }
  .products__block .btn {
    font-size: 15px;
    padding: 10px 40px;
  }
  .header__logo {
    width: 100px;
    height: 40px;
    font-size: 42px;
    line-height: 44px;
  }
}